.main {
  display: block;
  background-color: white;
  padding-bottom: 1rem;
  max-width: 50rem;
  min-width: 380px;
  margin: auto;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.486);
  border-radius: 10px;
}
