.editModal {
  display: block;
}

.editModal input {
  outline: none;
  padding: 5px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 5px;
  width: 75%;
  display: block;
  margin: 1rem auto;
}

.editModal input:focus {
  background-color: rgb(240, 240, 240);
}

.actions {
  width: 100%;
  display: block;
  text-align: center;
}

.editModal button {
  margin: 0 1rem 1rem 0;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  border: 3px solid rgb(79, 119, 42);
}

.editModal button:hover {
  opacity: 0.7;
}

.submit {
  background-color: rgb(79, 119, 42);
  color: white;
}

.cancel {
  background-color: white;
  color: rgb(79, 119, 42);
}
